@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap");
@import "../node_modules/materialize-css/sass/materialize.scss";

body {
  font-family: "Raleway", sans-serif;
}

.app-navbar {
  .navbar-icons {
    line-height: inherit;
    height: 100%;
    margin-right: 10px;
  }

  .brand-logo {
    .navbar-logo {
      max-height: 50px;
      margin-right: 7px;
      margin-left: 15px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .logo-text {
      margin-right: 7px;
    }

    @media screen and (min-width: 992px) {
      float: left;
      position: relative;
    }
    @media screen and (max-width: 600px) {
      .navbar-logo {
        max-height: 40px;
        margin-left: 0;
      }
      .logo-text {
        font-size: 0.9rem;
        margin-right: 0;
      }
    }

    display: inline-flex;
    font-size: 1.2rem;
    height: inherit;
  }

  ul {
    width: 100%;
    //Login Items float right
    li:nth-last-child(-n + 5) {
      float: right;
    }
  }
}

nav,
#mobile-nav {
  .activeLink {
    color: black;
  }

  .debugInput {
    width: unset !important;
    margin-right: 10px !important;
  }
}

.loginBtn {
  font-weight: 700;
}

//headings
h2 {
  font-size: 2rem;
  line-height: 1;
  margin: 2rem 0 1rem;
}

//Tabs
.tabs .tab a:hover, .tabs .tab a.active {
  color: color("light-blue", "base");
  font-weight: 600;
}

.tabs .tab a {
  color: color("light-blue", "base");
}

.tabs .indicator {
  background-color: color("light-blue", "base");
}


//Buttons
.submitBtn {
  margin-right: 1rem;
}

.cancelBtn {
  background-color: red;

  &:hover {
    background-color: lighten(red, 20%);
  }
}

//BucketListDetails Page
.checkboxEntry {
  top: 4px;
}

//users
.allowAccessBtn {
  transform: translateY(-20%);
}

//Mobile Friendly
@media screen and (max-width: 600px) {
  .btn-small, .btn {
    padding: 0 12px;

  }
  i.left {
    margin-right: 5px;
  }
  #mobile_buttonBar {
    display: flex !important;
  }
  #desktop_buttonBar {
    display: none;
  }
  .entryButtons {
    float: none !important;
    display: flex;
    align-items: stretch;
    margin-top: 5px;

    .btn-small {
      flex: 1 1 33.3333%;
      white-space: nowrap;
      flex-grow: 1;
      flex-basis: 0;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  .tabs .tab a {
    padding: 0 2px;
    font-size: 12px;
  }
  #mainContainer{
    width: 100%;
  }
}

@media screen and (max-width: 500px) {

  h2 {
    font-size: 18px;
  }
  .collection .collection-item {
    padding: 10px 10px;
  }
}

#mobile_buttonBar {
  align-items: stretch;
  display: none;
  margin-top: -20px;

  .btn-small {
    flex: 1 1 25%;
    white-space: nowrap;
    flex-grow: 1;
    flex-basis: 0;
  }
}

.entryButtons {
  float: right;
}


//Generic Classes
.fullWidth {
  width: 100%;
}

.noPadding {
  padding: 0 !important;
}

.floatRight {
  float: right;
}

.ml05 {
  margin-left: 5px;
}

.mt05 {
  margin-top: 5px;
}

.mt2rem {
  margin-top: 2rem;
}

//background
body {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.18' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
html, body, #root, #mainContainer{
  height: 100%;

}
#mainContainer {
  background: white;
  box-shadow: 0 0 12px black;
}
#contentWrapper {
  padding: 0 15px;
}
