@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap');
@import "../node_modules/materialize-css/sass/materialize.scss";

body{
  font-family: 'Raleway', sans-serif;
}

nav, #mobile-nav {
  .activeLink{
    color:black;
  }
  .navbar-logo{
    max-height: 64px;
  }
  .debugInput{
    width: unset !important;
    margin-right: 10px !important;
  }

}



//Generic Classes
.ml05 {margin-left: 5px} 
